
@{
    ViewData["Title"] = "Order";
}

<h1>Registration Complete!</h1>
Thank you @ViewData["FirstName"] @ViewData["LastName"].<br />You have registered your email at @ViewData["email"].<br />
You are @ViewData["age"] years old and have selected @ViewData["options"].<br />
Your password is @ViewData["password"].

